@import 'variables';
@import 'layout';

body {
  margin: 0 $spacing-two 0 $spacing-two;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-family: $font-main;
  
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $bgcolor;
  color: $text-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  display: block;
  background-color: $primary;
  border: 0;
  padding: 0;
  transform: skew(-20deg);
  margin: 1em 2px 1em 2px;
  height: 1px;
  border-top: 1px solid $primary-light;
  border-bottom: 1px solid $primary-light;
  width: calc(100% - 4px);
}

h1 > hr {
  margin: 1em 4px 1em 4px;
  height: 3px;
  border-top: 2px solid $primary-light;
  border-bottom: 2px solid $primary-light;
  width: calc(100% - 8px);
}

/*
  TITLE
*/

.title {
  margin-bottom: 8px;
  
  hr {
    margin-bottom: 8px;
  }
}

/*
  SECTION
*/

.section {
  margin-top: 16px;
  margin-bottom: 32px;
}

/*
  INTRODUCTION
*/

/*
  BUTTON
*/

button {
  &.btn {
    background-color: transparent;
    font-family: $font-main;
    display: inline-flex;
    align-items: center;
    height: 32px;
    line-height: 32px;
    margin: 0px 8px 0px 8px;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    text-transform: uppercase;
    border-top: #000000 solid 2px;
    border-bottom: #000000 solid 2px;
    border-left:none;
    border-right:none;
  }
  &.btn:before,
  &.btn:after {
    content: '';
    width: 10px;
    height: 28px;
    display: inline-block;
    border-top: #000000 solid 2px;
    border-bottom: #000000 solid 2px;
  }
  &.btn:before {
    margin-left: -22px;
    margin-right: 8px;
    transform-origin: right;
    transform: perspective(12px) rotateY(-45deg);
    border-left: #000000 solid 12px;
    border-right: none;
  }
  &.btn:after {
    margin-right: -22px;
    margin-left: 8px;
    transform-origin: left;
    transform: perspective(12px) rotateY(45deg);
    border-right: #000000 solid 12px;
    border-left: none;
  }
  &.btn:hover,
  &.btn:hover:after,
  &.btn:hover:before {
    cursor: pointer;
  }

  &.primary {
    border-top-color: $primary-light;
    border-bottom-color: $primary-light;
    background-color: $primary;
    color: $text-color-primary;
    font-weight: bold;
  }
  &.primary:before {
    background-color: $primary;
    border-top-color: $primary-light;
    border-bottom-color: $primary-light;
    border-left-color: $primary-light;
  }
  &.primary:after {
    background-color: $primary;
    border-top-color: $primary-light;
    border-bottom-color: $primary-light;
    border-right-color: $primary-light;
  }

  &.primary:hover,
  &.primary:hover:after,
  &.primary:hover:before {
    background-color: $primary-lighter;
  }

  &.secondary {
    border-top-color: $secondary-color-light;
    border-bottom-color: $secondary-color-light;
    background-color: $secondary-color;
    color: $text-color-primary;
    font-weight: bold;
  }
  &.secondary:before {
    background-color: $secondary-color;
    border-top-color: $secondary-color-light;
    border-bottom-color: $secondary-color-light;
    border-left-color: $secondary-color-light;
  }
  &.secondary:after {
    background-color: $secondary-color;
    border-top-color: $secondary-color-light;
    border-bottom-color: $secondary-color-light;
    border-right-color: $secondary-color-light;
  }
  &.secondary:hover,
  &.secondary:hover:after,
  &.secondary:hover:before {
    background-color: $secondary-color-light;
  }
}

/*
  STATUS POINT
*/

.status-point {
  background-color: $primary-light;
  min-height: 24px;
  border: 2px solid $primary;
  aspect-ratio: 2/5;
  transform: skew(-20deg);
  display: inline-block;
  margin-left: 4px;
}

.status-point-empty {
  background-color: $primary-lighter3;
  min-height: 24px;
  border: 2px solid $primary-lighter;
  aspect-ratio: 2/5;
  transform: skew(-20deg);
  display: inline-block;
  margin-left: 4px;
}