div.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 16px;
}

div.row > div {
  flex: 1;
}

.mb-1 {
  margin-bottom: $spacing-one;
}

div.column {
}