$bgcolor: #282C34;

$primary-darker-2: #1D514C;
$primary-darker: #225E58;
$primary-dark: #276965;
$primary: #2C7B76;
$primary-light: #339A91;
$primary-lighter: #38A69C;

$secondary-color: #58637F;
$tertiary-color: #8F9094;

$success-color: #007BFF;
$danger-color: #FF073A;
$warning-color: #FF8C00;

$text-color: #CCCCCC;
$text-color-primary: #FFFFFF;

$font-main: 'Droid Sans Mono', 'monospace', monospace;