$bgcolor: #FFFFFF;

$primary-darker-2: #182D51;
$primary-darker: #234479;
$primary-dark: #2F5AA2;
$primary: #3B71CA;
$primary-light: #628DD5;
$primary-lighter: #769CDA;
$primary-lighter2: #9DB8E5;
$primary-lighter3: #c4d4ef;

$secondary-color: #58637F;
$secondary-color-light: #8F9094;

$success-color: #007BFF;
$danger-color: #FF073A;
$warning-color: #FF8C00;

$text-color: #0c0d0e;
$text-color-primary: #FFFFFF;

$font-main: 'Droid Sans Mono', 'monospace', monospace;

$spacing-one: 8px;
$spacing-two: 16px;